
/*body {
    
    background-color:white;
}

* {
    
}

.means{
    
    position:relative;
    margin-top:-150px;
    margin-left:-80px;
    
}


.noidung{
    
    width: 250px;
    margin-top:30px;
}
.card{
    height: 500px;
    width: 600px;
    border:none;
    overflow:hidden;
    background:none;
    padding:0px;

}


    .card .imgLogo {
        height: 32px;
        width: 53px;
       
        
        margin-top: 4px;
        border-color: none;
        background: none;
        object-fit:cover;
    }

.contact{
    margin-top:50px;
    margin-left:-20px;

}
.footer[b-ql2nrnm8l4] {
    margin-top: 100px;
    position: fixed;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}

.contact .card{
    height:50px;
    width:50px;
    margin-left:20px;
    box-shadow:1px 1px 8px 0px;
}
.intro{
    height:500px;
    width:600px;
    padding:6px;
    position:absolute;
    box-sizing:border-box;
    bottom:-600px;
    background-color:black;
    opacity:80%;
    color: white;
    transition:.5s;
    
}
.recipe p{
    font-family:sans-serif;
    font-size:25px;
}
.card:hover{
    cursor: pointer;
}
.intro p{
    font-family:sans-serif;
    font-size:30px;
    font-weight:bold;
}
.recipeform{
    margin-top:50px;
    margin-left:-75px;
    width:1170px;
    background-color:aliceblue;
    font-size:100px;
    height:1000px;
    
}
.card:hover .intro{
    bottom:0px;
}
.recipenavar {
    margin-top: 50px;
    height: 65px;
    width: 1231px;
    margin-left: -68px;
    border-radius: 30px 30px 30px 30px;
    background-color: whitesmoke;
    box-shadow: 1px 1px 8px 0px;
    display:flex;
}
.recipenavar p{
    font-family:sans-serif;
    font-weight:bold;
    font-size:35px;
    padding:10px;
    color:grey;

}
iframe{
    background-color:wheat;
}


.step1content {
    line-height: 10px;
}

.step{
    margin-top:50px;
    font-weight:bold;
    font-size:25px;
}
.checked{
    color:lightcoral;
    height:20px;
    width:auto;
}
.imgFoodAD {
    height: 700px;
    width: 700px;
    box-shadow: 0px 4px 0px 4px;
}
.noidung .fa {
    margin-top: 20px;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 25px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}*/

/*
-------------- Basic Reset Css ----------
 */

 .container {
    height:20000px;
    position:relative;

}


.space {
    height: 100px;
}
.nutricard-card {
   display:block;
    margin-left: 100px;
    position: absolute;
   
    height: 600px;
    background-color: white;
    width: 400px;
    margin-top: 120px;
    
    transition:0.5s;
}
    .nutricard-card:hover {
        margin-top: 350px;
    }
    .nutricard-card .spaces{
        height:380px;
    }

    .recipe-card {
        margin-left: 100px;
        position: absolute;
        box-shadow: 0px 0px 20px 1px;
        height: 700px;
        background-color: white;
        overflow:auto;
        width: 500px;
    }
    .recipe-card img {
        position: absolute;
        height: 700px;
        width: 500px;
        object-fit: cover;
    }
.recipe-card2 {
    margin-left:120px;
    position: absolute;
    
    background-color:grey;
    
    height: 20000px;
    margin-top:10px;
    width: 1700px;
}
.recipeFood{
    margin-top:50px;
    margin-left:510px;
   border:medium;
   border-left-color:red;
   height:fit-content;
  
}
    .recipeFood row{
        height:auto;
    }
    .material {
        width: auto;
        border-width: 6px;
        border-left-color: white;
        border-left-style: solid;
        border-radius: 5px;
        height: 500px;
    }
.material h1{
    margin-left:20px;
    font-family:Arial, Helvetica, sans-serif;
    color:white;
    font-size:40px;
}

.ContenMat {
    margin-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    
}
    .ContenMat ul{
        line-height:36px;
    }
    .ContenMat ul li {
        font-size: 20px;
    }
.contentMat{
    display:inline-block;
}
.ContenRe{
    width:600px;
    overflow:auto;
}

.material p {
    margin-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    line-height: 36px;
    font-size: 20px;
}
.foodname p {
    font-size:40px;
   
   border-style:solid;
   height:100px;
  width:300px;
   padding:15px;
   border-radius:20px;
    display: inline-block;
    position: relative;
        
}
.effect-underline {
    font-family:Arial, Helvetica, sans-serif;
    height:50px;
    color: white;
    transition:0.5s;
    margin-top:50px;
    margin-left:130px;
   text-align:center;
    align-content:center;
  
    
}

.effect-underline:after {
    content: '';
    position: absolute;
    left: 0;
    display: inline-block;
    height: 1em;

    width: 100%;
    border-bottom: 1px solid;
    margin-top: 10px;
    opacity: 0;
    color: whitesmoke;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale(0,1);
    transform: scale(0,1);
}

.effect-underline:hover:after {
    color:whitesmoke;
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

/*effect-box*/

.btn-youtube {
    position: absolute;
    margin-left: 190px;
    margin-top: 510px;
    transform: translate(-50%, -50%);
   
}

    .btn-youtube a {
        display: block;
        width: 200px;
        height: 40px;
        line-height: 40px;
        font-size: 18px;
        font-family: sans-serif;
        text-decoration: none;
        color: #333;
       
        color:whitesmoke;
        letter-spacing: 2px;
        padding-left: 10px;
        text-align: left;
        position: relative;
        transition: all .35s;
    }

        .btn-youtube a span {
            position: relative;
            z-index: 2;
        }

.btn-youtube a:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color:gray;
    transition: all .35s;
}

.btn-youtube a:hover {
    color: #fff;
}

.btn-youtube a:hover:after {
    width: 100%;
}

.btn-shoppe {
    position: absolute;
    margin-left: 190px;
    margin-top: 430px;
    transform: translate(-50%, -50%);
}

    .btn-shoppe a {
        display: block;
        width: 200px;
        height: 40px;
        line-height: 40px;
        font-size: 18px;
        font-family: sans-serif;
        text-decoration: none;
        color: #333;
        color: whitesmoke;
        letter-spacing: 2px;
        padding-left: 10px;
        text-align: left;
        position: relative;
        transition: all .35s;
    }

        .btn-shoppe a span {
            position: relative;
            z-index: 2;
        }

        .btn-shoppe a:after {
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            width: 0;
            height: 100%;
            background-color: gray;
            transition: all .35s;
        }

        .btn-shoppe a:hover {
            color: #fff;
        }

            .btn-shoppe a:hover:after {
                width: 100%;
            }

.btn-order {
    position: absolute;
    margin-left: 190px;
    margin-top: 470px;
    transform: translate(-50%, -50%);
}

    .btn-order a {
        display: block;
        width: 200px;
        height: 40px;
        line-height: 40px;
        font-size: 18px;
        font-family: sans-serif;
        text-decoration: none;
        color: #333;
        color: whitesmoke;
        letter-spacing: 2px;
        padding-left: 10px;
        text-align: left;
        position: relative;
        transition: all .35s;
    }

        .btn-order a span {
            position: relative;
            z-index: 2;
        }

        .btn-order a:after {
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            width: 0;
            height: 100%;
            background-color: gray;
            transition: all .35s;
        }

        .btn-order a:hover {
            color: #fff;
        }

            .btn-order a:hover:after {
                width: 100%;
            }



.nutricard-card ul {
    line-height: 36px;
    margin-left:20px;
}

.nutricard-card ul li {
    font-size: 20px;
}

.content-card {
    display: block;
    background-color:bisque;
    margin-left: 220px;
    position: absolute;
    height: 600px;
  
    width: 400px;
    margin-top: 90px;
    transition: 0.5s;
}

    .content-card:hover {
        margin-left: 500px;
        
    }

    .content-card .spaces {
        height: 380px;
    }

.content-card ul {
    line-height: 36px;
    margin-left: 20px;
}

    .content-card ul li {
        font-size: 20px;
    }
    .content-card .content{
        margin-left:110px;
        margin-top:50px;
        
    }
        .content-card .content p {
            font-size: 20px;
        }


.cmtRegion {
    height: 800px;
    width: 610px;
    position: absolute;
    margin-left: 30px;
    margin-top: 360px;
    background-color: whitesmoke;
    border-radius: 50px;
    overflow: auto;
    padding: 20px;
    overflow-clip-margin : 90;
}

.cmtRegion .cardCmt{
   
    
    
    width:500px;
    height:150px
}
.cardCmt .avatar {
    position:absolute;
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.cardCmtuser .avatar {
    position: absolute;
    vertical-align: middle;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border-style:solid;
    border-color:gray;
}
.cardCmtuser{
    height:200px;
}
.username {
    position: absolute;
    margin-left: 31px;
    margin-top:8px;
    background-color: sandybrown;
    width: 120px;
    text-align:center;
    padding-left: 25px;
    border-radius: 10px;
}
.cardCmtuser textarea {
    height: 120px;
    width: 500px;
    margin-top: 30px;
    margin-left: 30px;
    border-radius: 20px;
    background-color: grey;
    color:whitesmoke;
    padding: 20px;
    font-size: 19px;
    border:none;
}

.cardCmt textarea{
    height:80px;
    width:400px;
    margin-top:30px;
    margin-left:30px;
    border-radius:20px;
    background-color:transparent;
    padding:10px;
    font-size:15px;
    transition:0.5s;
}

    .cardCmt textarea:hover {
        height: 100px;
        width: 450px;
    }

.option-blog {
   position:absolute;
    margin-left:17px;
    margin-top:-55px;
    
    
}

    .option-blog li {
        display: block;
    }

        .option-blog li a {
            background:#333;
            display: inline-block;
            font-size: 20px;
            color: #ffffff;
            width: 30px;
           
            height: 30px;
            text-align: center;
            line-height: 34px;
        }

            .option-blog li a:hover {
                background: #b0b435;
                color: #ffffff;
            }

.buttonReact {
    margin-left: 552px;
    margin-top: 531px;
}