<!DOCTYPE html>
<html lang="en">
<head>
    <th:block th:replace="layout :: layout-css"></th:block>
</head>
<body>
    <th:block th:replace="layout :: layout-header"></th:block>
    <main>
    
        <div class="optionbox">

            <select> 
               
               <option>United states</option>
               <option>India</option>   
               <option>Russia</option>
               <option>China</option>
 
 
            </select>
           
        </div>

    </main>
    <th:block th:replace="layout :: layout-footer"></th:block>
</body>